{% extends "nmadb-session-reg/pdf-sheet.html" %}

{% block css-td %}
.data-number {
  width: 20px;
  text-align: center;
}
.data-name {
  width: 220px;
}
.data-school {
  width: 300px;
}
.data-class {
  width: 40px;
  text-align: center;
}
.data-comments {
  width: 470px;
}
{% endblock %}

{% block header-td %}
<th class="data-number">Eil. nr.</th>
<th class="data-name">Vardas, pavardė</th>
<th class="data-school">Mokykla</th>
<th class="data-class">Klasė</th>
<th class="data-comments">Pastabos</th>
{% endblock %}

{% block content-td %}
<td class="data-number">{{ number|add:"1" }}</td>
<td class="data-name">
  {{ student.first_name }}
  {{ student.last_name }}
</td>
<td class="data-school">{{ student.school.title }}</td>
<td class="data-class">{{ student.school_class }}</td>
<td class="data-comments">
  &nbsp;<br />&nbsp; <!-- hack to set min-heigh -->
</td>
{% endblock %}
